*{
  font-family: 'Urbanist', sans-serif;
}

body{
  background-color: #F6FDFF;
}

.courses{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
  grid-gap: 15px;
}
.course{
  padding: 25px;
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.25);
  border-radius: 8px;
  background-color: #fff;
}

.course-top {
  display: flex;
  justify-content: space-between;
}
.course-top h3{
  margin: 0px;
  padding: 0px;

  text-align: left;
}
.course-icons {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.course h2{
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;

}
.course-icon {
  margin: 0;
  padding: 0;
  min-width: 25%;
  display: flex;
  margin-right: 20px;
  padding-bottom: 5px;
  align-items: center;
}
.course-icon img{
  width: 20px;
}
.course-icon p {
  margin: 0;
  padding: 5px;
}
.course-icon a{
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
  color: black;
  transition: .3s all;
  display: flex;
  align-items: center;
}
.course-icon a:hover{
  background: #F1f1f1;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.5);

}
.loader-container{
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-circle-green{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  background: green;
}
.color-circle-yellow{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  background: orange;
}
.color-circle-red{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  background: red;
}
.large-text{
  font-size: 20px;
  font-weight: 600;
}
.small-text{
  font-size: 12px;
}
.searchFields {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.instructor-rating {
  padding: 10px;
  margin: 0;
  margin-left: 5px;
  background: green;
  border-radius: 3px;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: fit-content;
  margin: 0 auto;
  padding-top: 50px;
}
.header p {
  margin: 0;
  padding: 0;
}
.main-subtitle{
text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.app-subtitle{
  font-size: 20px;
  padding: 0;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 40px;
  width: 90%;
  max-width: 800px;

  font-weight: lighter;
  text-align: center;
}

.course h5{
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: lighter;
  width: 50%;
  text-align: right;
}
.course h6{
  font-weight: lighter;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  
}
.select-field{
  width: 350px;
  margin-right: 10px;
}
input[type="text"] {
  height: 50px;
  padding-left: 10px;
  margin: 5px;
  width: 350px;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.25);

}
.select-field {
  font-weight: bolder;
}

.settings {
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: navy;
  font-size: 16px;
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.settings p {
  margin-left: 10px;
}
.course-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
.course-attribute {
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  background: #EAFAFF;
  font-size: 12px;
}

.course-alert{

  display: flex;
  background-color: #FFE5A3;
  align-items: center;
  padding: 10px;
  justify-content: start;
}

.course-alert p{
  margin: 0;
  margin-left: 5px;
  padding: 0;
  margin-left: 10px;
  font-size: 14px;
  font-weight: lighter;
}



.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}


.options {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: calc(50% - 230px);
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 155px 5px rgba(0,0,0,0.25);
}
.options h3{
  text-align: center;
}
.option {
  display: flex;
  align-items: center;

}
.option p{
  margin-right: 10px;
}
.extra-padding{
  padding-top: 5px;
  padding-bottom: 5px;
}
h1{
  font-size: 40px;
  padding: 10px;
  transition: .5s all;
}
h1:hover{

  background: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.25);
}

.toggle_modal {
  border: 1px solid navy;
  background: white;
  padding: 10px 30px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  transition: .3s all;
}

.toggle_modal:hover {
  background: navy;
  color: white;
  cursor: pointer;
}


.introscreen-bg{
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: scroll;

  height: 100vh;
  background: rgba(50,50,50,0.2);
backdrop-filter: blur(5px);
}

.introscreen {
  background: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  border-radius: 15px;
  padding: 50px;

}
.introscreen-features {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 95%;
  max-width: 900px;
  grid-gap: 10px;
  margin-top: 40px;
}
.coming-soon {
  border: 3px solid gold;
}

.introscreen h3{
  font-size: 32px;
}

.introscreen-feature {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.25);
}


.introscreen-feature img{
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.introscreen-feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introscreen button{
  border: 0;
  background: navy;
  color: white;
  height: 50px;
  width: 90%;
  max-width: 300px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  transition: .3s all;
}

.introscreen button:hover {
  filter: opacity(0.8);
}

.introscreen-feature-text h4{
  margin: 0;
  padding: 0;
}
.introscreen-feature p{
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 14px;
  font-weight: lighter;
}
.introscreen h2{
  font-size: 32px;
  margin: 0;
  margin-bottom: 15px;
}
.introscreen h5{
  margin: 0;
  font-weight: lighter;
  font-size: 18px;
}

.introscreen h6{
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .courses{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1000px) {
  .courses{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .introscreen{
    padding: 30px;
  }

}

@media screen and (max-width: 850px) {
  .introscreen-feature-text p {
    display: none;
  }
  .introscreen-feature img{
    width: 40px;
    height: 40px;
  }
  .introscreen h6{
    font-size: 16px;
  }
}
  
@media screen and (max-width: 700px) {
  .course-icons {
    grid-template-columns: 1fr;
  }
  .course-top {
    flex-direction: column-reverse;

  }
  .course-top h5{
    text-align: left;
  }
  .course-top h3{
    font-size: 16px;
  }
  .course h2{
    font-size: 20px;
  }
  .searchFields {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
  }
  input[type="text"], .select-field, .settings {
    margin-top: 10px;
    width: 90%;
  }
  .settings {
    margin-top: 20px;
  }
  .introscreen-feature {
    padding: 10px;
  }

}

@media screen and (max-width: 500px){
  .courses{
    grid-template-columns: 1fr;
  }
  .introscreen-feature img{
    width: 24px;
    height: 24px;
  }
  h1{
    font-size: 28px;
  }
  .app-subtitle {
    font-size: 18px;
  }
}